<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SteveCadwallader.CodeMaid.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SteveCadwallader.CodeMaid.Properties.Settings>
            <setting name="Cleaning_RunVisualStudioFormatDocumentCommand"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_RunVisualStudioRemoveAndSortUsingStatements"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_SkipRemoveAndSortUsingStatementsDuringAutoCleanupOnSave"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingBeforeMethods"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingAfterEndRegionTags"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertBlankSpaceBeforeSelfClosingAngleBrackets"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingBeforeEvents" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingAfterDelegates"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingAfterEnumerations"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingAfterEvents" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertEndOfFileTrailingNewLine" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingAfterFieldsSingleLine"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingBeforeFieldsMultiLine"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingBetweenPropertiesMultiLineAccessors"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingBeforeDelegates"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingAfterPropertiesSingleLine"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingAfterMethods" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingBeforeInterfaces"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingBeforePropertiesSingleLine"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingAfterStructs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingAfterRegionTags"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingAfterPropertiesMultiLine"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingBeforeStructs"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingBeforeRegionTags"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertExplicitAccessModifiersOnMethods"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingBeforePropertiesMultiLine"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingAfterFieldsMultiLine"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertExplicitAccessModifiersOnProperties"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingBeforeEnumerations"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingBeforeSingleLineComments"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertExplicitAccessModifiersOnClasses"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingAfterUsingStatementBlocks"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertExplicitAccessModifiersOnDelegates"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingBeforeClasses"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingBeforeEndRegionTags"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertExplicitAccessModifiersOnEnumerations"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingBeforeNamespaces"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertExplicitAccessModifiersOnEvents"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertExplicitAccessModifiersOnInterfaces"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertExplicitAccessModifiersOnFields"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingAfterClasses" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingBeforeUsingStatementBlocks"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingAfterInterfaces"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertExplicitAccessModifiersOnStructs"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingAfterNamespaces"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingBeforeFieldsSingleLine"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingBeforeCaseStatements"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_RemoveBlankLinesAtTop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_RemoveBlankLinesAfterAttributes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_RemoveBlankLinesAfterOpeningBrace" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_RemoveBlankLinesBeforeClosingBrace" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_RemoveBlankLinesBeforeClosingTags" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_RemoveBlankLinesBetweenChainedStatements"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_RemoveBlankLinesAtBottom" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_RemoveBlankSpacesBeforeClosingAngleBrackets"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_RemoveEndOfFileTrailingNewLine" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_RemoveEndOfLineWhitespace" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_RemoveMultipleConsecutiveBlankLines"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_RemoveRegions" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Cleaning_UpdateAccessorsToBothBeSingleLineOrMultiLine"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_UpdateEndRegionDirectives" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_UpdateSingleLineMethods" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Formatting_CommentWrapColumn" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="Formatting_CommentSkipWrapOnLastWord" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Formatting_CommentXmlValueIndent" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Formatting_CommentXmlSpaceTags" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Formatting_CommentXmlSpaceSingleTags" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Formatting_CommentXmlKeepTagsTogether" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Formatting_CommentXmlAlignParamTags" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Formatting_CommentXmlSplitSummaryTagToMultipleLines"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Formatting_CommentXmlSplitAllTags" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Formatting_CommentRunDuringCleanup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Reorganizing_AlphabetizeMembersOfTheSameGroup"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Reorganizing_KeepMembersWithinRegions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Reorganizing_ExplicitMembersAtEnd" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Reorganizing_PrimaryOrderByAccessLevel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Reorganizing_ReverseOrderByAccessLevel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Reorganizing_RunAtStartOfCleanup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Reorganizing_PerformWhenPreprocessorConditionals"
                serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Reorganizing_MemberTypeFields" serializeAs="String">
                <value>Fields||1||Fields</value>
            </setting>
            <setting name="Reorganizing_MemberTypeConstructors" serializeAs="String">
                <value>Constructors||2||Constructors</value>
            </setting>
            <setting name="Reorganizing_MemberTypeDestructors" serializeAs="String">
                <value>Destructors||3||Destructors</value>
            </setting>
            <setting name="Reorganizing_MemberTypeDelegates" serializeAs="String">
                <value>Delegates||4||Delegates</value>
            </setting>
            <setting name="Reorganizing_MemberTypeEvents" serializeAs="String">
                <value>Events||5||Events</value>
            </setting>
            <setting name="Reorganizing_MemberTypeEnums" serializeAs="String">
                <value>Enums||6||Enums</value>
            </setting>
            <setting name="Reorganizing_MemberTypeInterfaces" serializeAs="String">
                <value>Interfaces||7||Interfaces</value>
            </setting>
            <setting name="Reorganizing_MemberTypeProperties" serializeAs="String">
                <value>Properties||8||Properties</value>
            </setting>
            <setting name="Reorganizing_MemberTypeIndexers" serializeAs="String">
                <value>Indexers||9||Indexers</value>
            </setting>
            <setting name="Reorganizing_MemberTypeMethods" serializeAs="String">
                <value>Methods||10||Methods</value>
            </setting>
            <setting name="Reorganizing_MemberTypeStructs" serializeAs="String">
                <value>Structs||11||Structs</value>
            </setting>
            <setting name="Reorganizing_MemberTypeClasses" serializeAs="String">
                <value>Classes||12||Classes</value>
            </setting>
            <setting name="Reorganizing_RegionsIncludeAccessLevel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Reorganizing_RegionsIncludeAccessLevelForMethodsOnly"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Reorganizing_RegionsInsertKeepEvenIfEmpty" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Reorganizing_RegionsInsertNewRegions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Reorganizing_RegionsRemoveExistingRegions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_AutoCleanupOnFileSave" serializeAs="String">
                <value>True</value>
            </setting>
        </SteveCadwallader.CodeMaid.Properties.Settings>
    </userSettings>
</configuration>
